<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /smart_core_erp/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>